.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  width:20%
}

.App-header {
  background-color:darkSlateGrey;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
