@value black: #000000;
@value textBlack: #333333;
@value darkGrey: #666666;
@value midDarkGrey: #999999;
@value midLightGrey: #cccccc;
@value lightGrey: #eeeeee;
@value offWhite: #fafafa;
@value white: #ffffff;

@value blue: #407ab1;
@value blueActive: #275882;
@value logoYellow: #f9d716;
@value logoBlue: #00518a;
@value red: #cc0008;
@value green: #3a7c33;

@value btiRed: #ef4123;
@value btiYellow: #ffdd00;
@value markBrown: #ca5008;
@value familyOrange: #ff6600;

@value warning: #c78d00;