ul {
    padding:0;
    list-style:none;
    width: 45%;
    margin:auto;
  }
  
  li{
    font-size:1.2rem;
    line-height: 3rem;
    border-bottom: 1px dotted #777;
  }
  .Event-logo {
    height: 80px;
  }