@value white, blue, red, midDarkGrey, midLightGrey, blueActive from '../styles/color.css';
.RadioButton {
  display: none;
}
.Label {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.Label:before {
  box-sizing: border-box;
  flex: 0 0 auto;
  content: '';
  border: 1px solid blue;
  border-radius: 50%;
  /* padding: 0.64rem; */
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-right: 5px;
  display: table;
}

.RadioContainer {
  display: flex;
  flex-direction: row;
}

.RadiobuttonVertical {
  flex-direction: column;
}

.Label.Checked:before {
  border: 0.45rem solid blue;
  padding: 0.2em;
}

.Label.Checked:hover:before {
}

.Error:before {
  border-color: red;
}

.Disabled:before {
  border-color: midLightGrey;
}

.Disabled.Checked:before {
  background-color: midDarkGrey;
  border-color: midDarkGrey;
}

.LabelDisabled,
.LabelDisabled:active,
.LabelDisabled:focus {
  color: midLightGrey;
  border-color: midLightGrey;
}

.ButtonVertical {
  margin-bottom: 1rem;
}